<screen name="ConfigHD" position="0,0" size="1280,720" title="Config">
	<widget name="description" position="31,391" zPosition="4" size="800,92" font="Regular; 26" foregroundColor="#fcc000" backgroundColor="#40000000" transparent="1" halign="left" valign="center" />
	<widget name="statusbar" position="11,650" size="823,36" font="Regular; 26" halign="left" valign="center" foregroundColor="#ffffff" backgroundColor="#000000" transparent="1" zPosition="5" />
	<widget name="status" position="13,599" size="821,47" font="Regular; 26" halign="left" valign="center" foregroundColor="yellow" backgroundColor="#000000" transparent="1" zPosition="5" />
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvspro/res/pics/fanarthd.jpg" position="-1,-1" zPosition="-2" size="1280,720" />
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvspro/res/pics/hd/PayPal.png" position="959,73" size="156,75" zPosition="2" alphatest="on" />
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvspro/res/pics/hd/qr-codetvs.png" position="935,156" size="225,225" zPosition="2" alphatest="on" />
	<widget name="paypal" position="860,390" size="405,305" font="Regular;24" halign="center" foregroundColor="#ffffff" backgroundColor="#101010" transparent="1" zPosition="2" />
	<eLabel position="844,58" size="418,639" backgroundColor="#80000000" cornerRadius="20" zPosition="1" />
	<!-- Menu List -->
	<widget name="config" position="33,77" size="795,299" font="Regular; 22" itemHeight="50" scrollbarMode="showOnDemand" transparent="1" zPosition="5" foregroundColor="#fcc000" foregroundColorSelected="#ffffff" backgroundColor="#20000000" backgroundColorSelected="#0b2049" selectionPixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvspro/res/pics/sliderb.png" />
	<!-- Button -->
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvspro/res/pics/key_red.png" position="33,535" size="30,30" alphatest="on" zPosition="5" />
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvspro/res/pics/key_green.png" position="282,537" size="31,30" alphatest="on" zPosition="5" />
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvspro/res/pics/key_yellow.png" position="526,538" size="31,30" alphatest="on" zPosition="5" />
	<widget name="key_red" position="71,536" size="200,30" font="Regular;30" halign="left" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1" />
	<widget name="key_green" position="318,537" size="200,30" font="Regular;30" halign="left" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1" />
	<widget name="key_yellow" position="560,538" size="200,30" font="Regular;30" halign="left" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1" />
</screen>